#task_header_layout.overdue{
	-fx-background-color: rgb(226,129,129)
}

#task_header_layout.normal{
	-fx-background-color: lightgreen; 
}

.context_label_class{
	-fx-color: gray;  /* yes, there is such property */
}

#contexts_output{
	-fx-background-color: burlywood;
}

#parent_names_output{
	-fx-padding: 0, 10, 0, 0;
}
#task_widget_root{
	/*
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-padding: 0, 0, 10, 0;
	*/
}