#title_ouput{
	-fx-padding: 0 0 10 0;
}

#title_output.done{
    -fx-font-size  : 20;
    -fx-background-color : green;
}

#title_output.undone{
    -fx-font-size  : 20;
    -fx-text-fill : red;
}

.time{
    -fx-font-style : italic;
    -fx-padding    : 0 0 20 30;
}

.parent_button{
    -fx-padding : 5 15 5 15;
    -fx-spacing : 5 15 5 15;
}

.infobox{
    -fx-border-style  : solid;
    -fx-border-color : black;
    -fx-padding    : 0 0 15 0;
}

